<?xml version="1.0"?>
<!--
/**** @copyright  Copyright (c) 2015 Merchant-e ****/
-->
<config>
    <modules>
        <Merchante_MagetSync>
            <version>0.2.6</version>
        </Merchante_MagetSync>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Merchante_MagetSync>
                    <files>
                        <default>MagetSync.csv</default>
                    </files>
                </Merchante_MagetSync>
            </modules>
        </translate>
        <routers>
            <magetsync>
                <use>standard</use>
                <args>
                    <module>Merchante_MagetSync</module>
                    <frontName>magetsync</frontName>
                </args>
            </magetsync>
        </routers>
        <layout>
            <updates>
                <magetsync>
                    <file>magetsync.xml</file>
                </magetsync>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magetsync after="Mage_Adminhtml">Merchante_MagetSync_Adminhtml</magetsync>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Merchante_MagetSync>
                    <files>
                        <default>MagetSync.csv</default>
                    </files>
                </Merchante_MagetSync>
            </modules>
        </translate>
        <layout>
            <updates>
                <magetsync>
                    <file>magetsync.xml</file>
                </magetsync>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <magetsync>
                <class>Merchante_MagetSync_Block</class>
            </magetsync>
        </blocks>
        <helpers>
            <magetsync>
                <class>Merchante_MagetSync_Helper</class>
            </magetsync>
        </helpers>
        <models>
            <magetsync>
                <class>Merchante_MagetSync_Model</class>
                <resourceModel>magetsync_mysql4</resourceModel>
            </magetsync>
            <magetsync_mysql4>
                <class>Merchante_MagetSync_Model_Mysql4</class>
                <entities>
                    <etsy>
                        <table>magetsync_configuration</table>
                    </etsy>
                    <listing>
                        <table>magetsync_listing</table>
                    </listing>
                    <orderEtsy>
                        <table>magetsync_orderetsy</table>
                    </orderEtsy>
                    <shopSection>
                        <table>magetsync_shopsection</table>
                    </shopSection>
                    <shippingTemplate>
                        <table>magetsync_shippingtemplate</table>
                    </shippingTemplate>
                    <shippingEntry>
                        <table>magetsync_shippingentry</table>
                    </shippingEntry>
                    <countryEtsy>
                        <table>magetsync_country</table>
                    </countryEtsy>
                    <processingTime>
                        <table>magetsync_processingtime</table>
                    </processingTime>
                    <category>
                        <table>magetsync_category</table>
                    </category>
                    <recipient>
                        <table>magetsync_recipient</table>
                    </recipient>
                    <whenMade>
                        <table>magetsync_whenmade</table>
                    </whenMade>
                    <whoMade>
                        <table>magetsync_whomade</table>
                    </whoMade>
                    <occasion>
                        <table>magetsync_occasion</table>
                    </occasion>
                    <style>
                        <table>magetsync_style</table>
                    </style>
                    <variation>
                        <table>magetsync_variation</table>
                    </variation>
                    <imageEtsy>
                        <table>magetsync_imageetsy</table>
                    </imageEtsy>
                    <mappingEtsy>
                        <table>magetsync_mappingetsy</table>
                    </mappingEtsy>
                    <logData>
                        <table>magetsync_logdata</table>
                    </logData>
                    <attributeTemplate>
                        <table>magetsync_attributetemplate</table>
                    </attributeTemplate>
                </entities>
            </magetsync_mysql4>
        </models>
        <resources>
            <magetsync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magetsync_write>
            <magetsync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magetsync_read>
        </resources>
        <resources>
            <MagetSync_dbscript_setup>
                <setup>
                    <module>Merchante_MagetSync</module>
                </setup>
            </MagetSync_dbscript_setup>
        </resources>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <magetsync>
                        <class>magetsync/product_grid_observer</class>
                        <method>addMassAction</method>
                    </magetsync>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/order_grid_observer</class>
                        <method>beforeBlockToHtml</method>
                    </magetsync>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/order_grid_observer</class>
                        <method>collectionLoadBefore</method>
                    </magetsync>
                </observers>
            </sales_order_grid_collection_load_before>
            <catalog_product_attribute_update_before>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/product_observer</class>
                        <method>massiveUpdate</method>
                    </magetsync>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_save_after>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/product_observer</class>
                        <method>logUpdate</method>
                    </magetsync>
                </observers>
            </catalog_product_save_after>
            <sales_order_shipment_track_save_before>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/observer</class>
                        <method>saveTrack</method>
                    </magetsync>
                </observers>
            </sales_order_shipment_track_save_before>
            <sales_order_save_commit_after>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/order_observer</class>
                        <method>orderState</method>
                    </magetsync>
                </observers>
            </sales_order_save_commit_after>

            <catalog_product_import_finish_before>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/observer</class>
                        <method>importUpdateQuantity</method>
                    </magetsync>
                </observers>
            </catalog_product_import_finish_before>

            <admin_session_user_login_success>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/login_observer</class>
                        <method>check</method>
                    </magetsync>
                </observers>
            </admin_session_user_login_success>
            <sales_order_shipment_save_after>
                <observers>
                    <magetsync>
                        <type>singleton</type>
                        <class>magetsync/order_observer</class>
                        <method>shipmentSaveAfter</method>
                    </magetsync>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <magetsync_creditmemo>
                        <type>singleton</type>
                        <class>magetsync/observer</class>
                        <method>updateProductQty</method>
                    </magetsync_creditmemo>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <default>
        <carriers>
            <magetsync_shipping>
                <active>1</active>
                <model>magetsync/custom_shipping</model>
                <title>MagetSync</title>
                <allowed_methods>Etsy Shipping</allowed_methods>
                <methods>Etsy Shipping</methods>
                <sallowspecific>0</sallowspecific>
            </magetsync_shipping>
        </carriers>
        <magetsync_section>
            <magetsync_group_debug>
                <enable_log>0</enable_log>
                <enable_exception_log>0</enable_exception_log>
            </magetsync_group_debug>
            <magetsync_group_sales_order>
                <magetsync_field_default_payment_method>1</magetsync_field_default_payment_method>
            </magetsync_group_sales_order>
        </magetsync_section>
        <payment>
            <magetsync_payment>
                <model>magetsync/custom_payment</model>
                <order_status>processing</order_status>
            </magetsync_payment>
        </payment>
    </default>
    <crontab>
        <jobs>
            <magetsync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magetsync/observer::createOrder</model>
                </run>
            </magetsync>
            <magetsync_inventory>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magetsync/observer::checkInventory</model>
                </run>
            </magetsync_inventory>
            <magetsync_autolist>
                <schedule>
                    <cron_expr>*/3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magetsync/observer::sendAutoQueue</model>
                </run>
            </magetsync_autolist>
            <magetsync_checklistingsexpired>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>magetsync/observer::checkListingsExpired</model>
                </run>
            </magetsync_checklistingsexpired>
            <magetsync_imagereset>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magetsync/observer::imageResetCron</model>
                </run>
            </magetsync_imagereset>
        </jobs>
    </crontab>
</config>